.primary-btn {
  border: 1px solid #016439;
  background-color: #016439;
  color: white;
  border-radius: 8px;
  padding: 16px 24px;
  transition: 0.2s ease-in;
}

.primary-btn:hover {
  border: 1px solid #016439;
  background-color: white;
  color: #016439;
}

.secondary-btn {
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding: 16px 24px;
  transition: 0.2s ease-in-out;
}

.secondary-btn:hover {
  border: 1px solid #262cd6;
  background-color: white;
  color: #262cd6;
}
