.primary-btn {
  font-size: 20px;
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  color: white;
  border-radius: 8px;
  display: inline-block;
  padding: 8px 32px;
  transition: 0.2s ease-in;
  margin: 20px 0;
}

.primary-btn:hover {
  border: 1px solid rgb(32, 32, 32);
  background-color: white;
  color: #1b1b1b;
}

.small-primary-btn {
  font-size: 16px;
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  color: white;
  border-radius: 8px;
  display: inline-block;
  padding: 4px 16px;
  transition: 0.2s ease-in;
  margin: 20px 0;
}

.small-primary-btn:hover {
  border: 1px solid rgb(32, 32, 32);
  background-color: white;
  color: #1b1b1b;
}

.secondary-btn {
  font-size: 20px;
  border: 1px solid white;
  background-color: none;
  border-radius: 8px;
  display: inline-block;
  padding: 8px 32px;
  transition: 0.2s ease-in;
  margin: 20px 0;
}

.secondary-btn:hover {
  border: 1px solid #ffffff;
  background-color: rgb(255, 255, 255);
  color: #1c1c1c;
}
