.hero {
  height: 70vh;
  color: white;
  display: flex;
  justify-content: center;
  margin: 30px 60px;
}

.hero--text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background: #262cd6;
  flex-grow: 1;
  height: 100%;
  padding-left: 60px;
}

.hero--btn {
  font-size: 20px;
  border: 1px solid white;
  border-radius: 32px;
  display: inline-block;
  padding: 8px 32px;
}

.hero--img {
  width: 50vw;
  object-fit: fill;
  object-position: center;
}
