.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://images.unsplash.com/photo-1541167760496-1628856ab772?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29mZmVlfGVufDB8fDB8fHww);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hero--text {
  max-width: 600px;
  text-align: left;
  margin-left: 200px;
}

.hero--btn {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-top: 32px;
  font-size: 20px;
}
