.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgb(242, 242, 242);
  z-index: 1000;
}

#nav--logo {
  width: 90px;
  height: 90px;
  margin-left: 20px;
}

.nav--links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}

.nav--links li {
  border-bottom: 2px solid white;
}

.nav--links li:hover {
  border-bottom: 2px solid #1b1b1b;
}

.nav--search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
  font-size: 18px;
  gap: 8px;
}

.nav--search input {
  border: 1px solid grey;
  border-radius: 8px;
  margin: 0 12px;
}

.nav--search button {
  background-color: #1b1b1b;
  color: white;
  border-radius: 10px;
  padding: 4px 16px;
}
