.navbar {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid rgb(242, 242, 242);
}

#nav--logo {
  width: 90px;
  height: 90px;
  margin: 20px;
}

.nav--links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 62px;
  letter-spacing: 1px;
  cursor: pointer;
}

.nav--search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
  font-size: 18px;
}

.nav--search input {
  border: 1px solid grey;
  border-radius: 20px;
  margin: 0 12px;
}

.nav--search button {
  background-color: #016439;
  color: white;
  border-radius: 10px;
  padding: 4px 16px;
}
