.offer-section {
  display: flex;
  justify-content: center;
  background-color: none;
  height: 50vh;
}

.offer--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px;
}

.offer--text button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.offer--img {
  max-width: 50vw;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
