.offer-section {
  background-color: #afdef0;
}

.offer--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  margin-left: 80px;
}

.offer--text button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}
